<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ng-model</title>
    <script src="angular.js"></script>
</head>
<body>
<div ng-controller="userController">
    <input type="text" ng-model="user.name"/>
    <div>{{user.name}}</div>

    <ul>
        <li ng-repeat="stu in data">
            {{stu.name}}
            {{stu.age}}
            {{stu.score}}
        </li>
    </ul>
</div>
<script>
    <!--function userController($scope){-->
        <!--$scope.user={name:"john"};-->
    <!--}-->
     var app=angular.module("myApp",[]);
    app.controller("userController",function($scope){
        $scope.user={name:"john"};
        $scope.data=[{name:"张明",age:"12",score:"75"},{name:"张明",age:"12",score:"75"},{name:"张明",age:"12",score:"75"}];
    });
</script>
</body>
</html>