html, body, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#main_angel_dinner {
  position: relative;
  background: url(../angel_img/black_bg.jpg);
  nav.side_bar {
    width: 143px;
    position: fixed;
    top: 100px;
    left: 10px;
    background: url(../angel_img/black_bg.jpg);

    ul{
      background: url(../angel_img/side_bar_bg.png) no-repeat left top;
      padding: 4px;
    }
    li {
      a {
        display: block;
        height: 76px;
        background: url(../angel_img/side_bar_sprice.png) no-repeat;
      }
      &:nth-child(1) {
        a {
          background-position: left 0;
          &:hover,&.hover {
            background-position-x: right;
          }
        }
      }
      &:nth-child(2) {
        a {
          background-position: left -76px;
          &:hover,&.hover {
            background-position: right -76px;
          }
        }
      }
      &:nth-child(3) {
        a {
          background-position: left -152px;
          &:hover,&.hover {
            background-position: right -152px;

          }
        }
      }
      &:nth-child(4) {
        a {
          background-position: left -228px;
          &:hover,&.hover {
            background-position: right -228px;

          }
        }
      }
      &:nth-child(5) {
        a {
          background-position: left -304px;
          &:hover,&.hover {
            background-position: right -304px;

          }
        }
      }
      &:nth-child(6) {
        a {
          background-position: left -380px;
          &:hover,&.hover {
            background-position: right -380px;

          }
        }
      }
      &:nth-child(7) {
        a {
          background-position: left -456px;
          &:hover,&.hover{
            background-position: right -456px;

          }
        }
      }
      &:nth-child(4) {
        background-position: left -228px;
      }
      &:nth-child(5) {
        background-position: left -304px;
      }
      &:nth-child(6) {
        background-position: left -380px;
      }
      &:nth-child(7) {
        background-position: left -456px;
      }

    }
  }
  .banner {
    background: url(../angel_img/banner.jpg) center center no-repeat;
    background-color: #090502;
    height: 400px;
  }
  .activity_intro {
    padding-top: 53px;
    ul li {
      background-position: center center;
      background-repeat: no-repeat;
      height: 200px;
      &:nth-child(1) {
        background-image: url(../angel_img/intro_01.png);
      }
      &:nth-child(2) {
        background-image: url(../angel_img/intro_02.png);
      }
      &:nth-child(3) {
        background-image: url(../angel_img/intro_03.png);
      }
      &:nth-child(4) {
        background-image: url(../angel_img/intro_04.png);
      }
      &:nth-child(5) {
        background-image: url(../angel_img/intro_05.png);
      }
      &:nth-child(6) {
        background-image: url(../angel_img/intro_06.png);
      }
      &:nth-child(7) {
        background-image: url(../angel_img/intro_07.png);
      }
      &:nth-child(8) {
        background-image: url(../angel_img/intro_08.png);
      }
    }
  }
  .activity_schedule {
    position: relative;
    margin-top: 140px;
    .schedule {
      height: 454px;
      background: url(../angel_img/schedule.png) center center no-repeat;
      z-index: 10;
    }
  }
  .activity_awards {
    padding-top: 100px;
    ul li {
      background-position: center center;
      background-repeat: no-repeat;
      height: 200px;
      &:nth-child(1) {
        background-image: url(../angel_img/awards_01.png);
      }
      &:nth-child(2) {
        background-image: url(../angel_img/awards_02.png);
      }
      &:nth-child(3) {
        background-image: url(../angel_img/awards_03.png);
      }
      &:nth-child(4) {
        background-image: url(../angel_img/awards_04.png);
      }
      &:nth-child(5) {
        background-image: url(../angel_img/awards_05.png);
      }
      &:nth-child(6) {
        background-image: url(../angel_img/awards_06.png);
      }
      &:nth-child(7) {
        background-image: url(../angel_img/awards_07.png);
      }
    }
  }
  .activity_history {
    padding-top: 155px;
    ul li {
      background-position: center center;
      background-repeat: no-repeat;
      &:nth-child(1) {
        height: 200px;
        background-image: url(../angel_img/history_01.png);
      }
      &:nth-child(2) {
        margin-top: 30px;
        height: 380px;
        background-image: url(../angel_img/history_02.png);
        a {
          display: block;
          height: 100%;
        }
      }
    }
  }
  .activity_contact {
    padding: 190px 0 150px 0;
    ul li {
      background-position: center center;
      background-repeat: no-repeat;
      &:nth-child(1) {
        height: 208px;
        background-image: url(../angel_img/contact_01.png);
      }
      &:nth-child(2) {
        margin-top: 65px;
        height: 170px;
        background-image: url(../angel_img/contact_02.png);
      }
    }
  }
  .activity_signUp{
    position:fixed;
    bottom:0;
    width:100%;
    background:url(../angel_img/sign_up_bg.png) center top no-repeat;
    background-size:cover;
    height:101px;
    ul{
      width:500px;
      height:100%;
      margin:0 auto;
      li{
        width:240px;
        height:100%;
        a{
          display:block;
          height:100%;
          width:100%;
        }
        &:first-child{
          float:left;
          a{
            background:url(../angel_img/sign_up_entre.png) center center no-repeat;
            background-size:120px auto;
          }
        }
        &:last-child{
          float:right;
          a{
            background:url(../angel_img/sign_up_investor.png) center center no-repeat;
            background-size:120px auto;

          }
        }
      }
    }
  }
  .activity_partner {
    width: 940px;
    margin: 0 auto;
    padding-top: 140px;
    section {
      .title {
        background-position: center center;
        background-repeat: no-repeat;
        height: 96px;
      }
      .note {
        background-position: center center;
        background-repeat: no-repeat;
        height: 54px;
      }
      ul::after {
        clear: both;
        display: block;
        height: 0;
        content: "";
        visitibity: hidden;
      }
      ul {
        padding: 30px 0 20px 0;
      }
      ul li {
        width: 220px;
        height: 80px;
        border: 1px solid #a8a8a8;
        float: left;
        margin: 0 12px 25px 0;
        background:url(../angel_img/logo_spc.png);
        background-position-x: left;
        &:hover{
          background-position-x:right;
        }
        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
    section:first-child {
      .title {
        height: 350px;
        background-image: url(../angel_img/partner_title_01.png);
      }

    }
    section:nth-child(2) {
      padding-top: 100px;
      .title {
        background-image: url(../angel_img/partner_title_02.png);
      }
      .note {
        background-image: url(../angel_img/partner_note_02.png);
      }
    }
    section:nth-child(3) {
      padding-top: 120px;
      .title {
        background-image: url(../angel_img/partner_title_03.png);
      }
      .note {
        background-image: url(../angel_img/partner_note_03.png);
      }
    }
    section:nth-child(4) {
      padding-top: 120px;
      .title {
        background-image: url(../angel_img/partner_title_04.png);
      }
      .note {
        background-image: url(../angel_img/partner_note_04.png);
      }
    }
    section:nth-child(5) {
      padding-top: 120px;
      .title {
        background-image: url(../angel_img/partner_title_05.png);
      }
      .note {
        background-image: url(../angel_img/partner_note_05.png);
      }
    }
  }
}